In [52]:
import numpy as np
import pandas as pd
import math

In [53]:
df1=pd.read_csv("fake_new.csv")

In [54]:
df2=pd.read_csv("hate speech.csv")

In [55]:
df1.shape

(20800, 5)

In [56]:
df1.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [57]:
df2.shape

(24783, 7)

In [58]:
df2.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [59]:
#Inner Join->Joins rows having same value of foreign key

#Full Join->Joins all rows which have a match in either of left or right dataframe, but non-matching rows will have Nan values

#Left Join->inner join plus all the non-matching rows of the left dataframe filled with NaN for columns of the right dataframe

#Right Join->similar to the Left Join, difference is that all the rows of the right dataframe 
#are taken as it is and only those of the left dataframe that are common in both

In [60]:
df5=df1

In [61]:
df5

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [62]:
df5.drop('id', inplace=True, axis=1)

In [63]:
df5.drop('title', inplace=True, axis=1)

In [64]:
df5.drop('author', inplace=True, axis=1)

In [65]:
df5

                                                    text  label
0      House Dem Aide: We Didn’t Even See Comey’s Let...      1
1      Ever get the feeling your life circles the rou...      0
2      Why the Truth Might Get You Fired October 29, ...      1
3      Videos 15 Civilians Killed In Single US Airstr...      1
4      Print \nAn Iranian woman has been sentenced to...      1
...                                                  ...    ...
20795  Rapper T. I. unloaded on black celebrities who...      0
20796  When the Green Bay Packers lost to the Washing...      0
20797  The Macy’s of today grew from the union of sev...      0
20798  NATO, Russia To Hold Parallel Exercises In Bal...      1
20799    David Swanson is an author, activist, journa...      1

[20800 rows x 2 columns]

In [66]:
df5.columns

Index(['text', 'label'], dtype='object')

In [67]:
df5.shape

(20800, 2)

In [68]:
(df5.label==0).sum()

10387

In [69]:
(df5.label==1).sum()

10413

In [70]:
df5.sort_values('label', inplace=True)

In [71]:
df5=df5.drop(df5.index[:10287])

In [72]:
df5

                                                    text  label
4063     documentary filmmaker Michael Moore says the...      0
5680   As a   bathroom break girl at the advertising ...      0
17825  During his speech at CPAC on Friday, President...      0
4219   MANILA  —   On Thanksgiving Day, a Philippine ...      0
18626  LEXINGTON, Ky.  —   John Calipari, residue fro...      0
...                                                  ...    ...
9283   BUSTED: Eric Trump Admits Daddy ‘Started The C...      1
9286   Divergent 3D showcased its Blade Supercar, the...      1
9289     Big pharmaceutical companies don’t want you ...      1
9263   Comments \nTonight, MSNBC’s Rachel Maddow i nt...      1
20799    David Swanson is an author, activist, journa...      1

[10513 rows x 2 columns]

In [73]:
(df5.label==0).sum()

100

In [74]:
df5=df5.drop(df5.index[100:10413])

In [75]:
df5

                                                    text  label
4063     documentary filmmaker Michael Moore says the...      0
5680   As a   bathroom break girl at the advertising ...      0
17825  During his speech at CPAC on Friday, President...      0
4219   MANILA  —   On Thanksgiving Day, a Philippine ...      0
18626  LEXINGTON, Ky.  —   John Calipari, residue fro...      0
...                                                  ...    ...
9283   BUSTED: Eric Trump Admits Daddy ‘Started The C...      1
9286   Divergent 3D showcased its Blade Supercar, the...      1
9289     Big pharmaceutical companies don’t want you ...      1
9263   Comments \nTonight, MSNBC’s Rachel Maddow i nt...      1
20799    David Swanson is an author, activist, journa...      1

[200 rows x 2 columns]

In [76]:
df5.shape

(200, 2)

In [77]:
print((df5.label==0).sum())
print((df5.label==1).sum())

100
100

In [78]:
df6=df2

In [79]:
df6

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [80]:
df6.shape

(24783, 7)

In [81]:
df6.columns

Index(['Unnamed: 0', 'count', 'hate_speech', 'offensive_language', 'neither',
       'class', 'tweet'],
      dtype='object')

In [82]:
df6.drop('Unnamed: 0', inplace=True, axis=1)
df6.drop('count', inplace=True, axis=1)
df6.drop('hate_speech', inplace=True, axis=1)
df6.drop('offensive_language', inplace=True, axis=1)
df6.drop('neither', inplace=True, axis=1)

In [83]:
df6

       class                                              tweet
0          2  !!! RT @mayasolovely: As a woman you shouldn't...
1          1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2          1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3          1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4          1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...      ...                                                ...
24778      1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779      2  you've gone and broke the wrong heart baby, an...
24780      1  young buck wanna eat!!.. dat nigguh like I ain...
24781      1              youu got wild bitches tellin you lies
24782      2  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24783 rows x 2 columns]

In [84]:
df6.rename(columns = {'class':'label_hate_speech'}, inplace = True)

In [85]:
df6

       label_hate_speech                                              tweet
0                      2  !!! RT @mayasolovely: As a woman you shouldn't...
1                      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2                      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3                      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4                      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...                  ...                                                ...
24778                  1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779                  2  you've gone and broke the wrong heart baby, an...
24780                  1  young buck wanna eat!!.. dat nigguh like I ain...
24781                  1              youu got wild bitches tellin you lies
24782                  2  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24783 rows x 2 columns]

In [86]:
print((df6.label_hate_speech==0).sum())
print((df6.label_hate_speech==1).sum())
print((df6.label_hate_speech==2).sum())

1430
19190
4163

In [87]:
df6.sort_values('label_hate_speech', inplace=True)

In [88]:
df6

       label_hate_speech                                              tweet
13362                  0  Niggas/bitches cheat cause mf's always think t...
9276                   0  Fuck that niggah he so weak, he cant tell that...
7064                   0                @sophhh_marie ugly emo trash go cut
19427                  0  RT @kevnasto: I would rather fuck a fat chick ...
4378                   0          @PablyAndrew it was Paul McCartney faggot
...                  ...                                                ...
14237                  2  RT @AtlasSmugged: women only play casual game ...
14214                  2  RT @ArianaGrande: Oh Torrence, I can't stand y...
14213                  2  RT @ArcticFox2016: 150 Christians MASSACRED By...
14083                  2  RT @AP: Lifelong Yankee fan puts aside rooting...
24782                  2  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24783 rows x 2 columns]

In [89]:
df6=df6.drop(df6.index[:1413])

In [90]:
print((df6.label_hate_speech==0).sum())

17

In [91]:
df6=df6.drop(df6.index[17:18975])

In [92]:
print((df6.label_hate_speech==1).sum())
print((df6.label_hate_speech==0).sum())

232
17

In [93]:
df6=df6.drop(df6.index[249:4361])

In [94]:
print((df6.label_hate_speech==1).sum())
print((df6.label_hate_speech==0).sum())
print((df6.label_hate_speech==2).sum())

232
17
51

In [95]:
df6.shape

(300, 2)

In [96]:
df5['tmp'] = 1
df6['tmp'] = 1

In [97]:
df_combined=pd.merge(df5, df6, on=['tmp'])
df_combined=df_combined.drop('tmp', axis=1)

In [98]:
df_combined

,text,label,label_hate_speech,tweet
0,documentary filmmaker Michael Moore says the...,0,0,Stay home then bitch fuck u
1,documentary filmmaker Michael Moore says the...,0,0,RT @JaclynDeeter: Well maybe you're a whore yo...
2,documentary filmmaker Michael Moore says the...,0,0,&#128514; RT @TheOnlyReed: LMFAO RT @Tone314: ...
3,documentary filmmaker Michael Moore says the...,0,0,RT @Meet_Nallah: &#8220;@mckenxcassie: Some of...
4,documentary filmmaker Michael Moore says the...,0,0,Y'all hoes really get mad cause a nigga don't ...
...,...,...,...,...
59995,"David Swanson is an author, activist, journa...",1,2,RT @AtlasSmugged: women only play casual game ...
59996,"David Swanson is an author, activist, journa...",1,2,"RT @ArianaGrande: Oh Torrence, I can't stand y..."
59997,"David Swanson is an author, activist, journa...",1,2,RT @ArcticFox2016: 150 Christians MASSACRED By...
59998,"David Swanson is an author, activist, journa...",1,2,RT @AP: Lifelong Yankee fan puts aside rooting...
59999,"David Swanson is an author, activist, journa...",1,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [99]:
import sklearn
df_combined=sklearn.utils.shuffle(df_combined)

In [100]:
df_combined

,text,label,label_hate_speech,tweet
41268,\n\nHillary’s secret agenda is not so secret. ...,1,1,A bitch who can't keep a man RT @SoloDahSystem...
54082,"By In5D on November 15, 2016 in Awareness , Sp...",1,1,@xoxo_natty I was taking a picture and that bi...
51067,Nigel Farage Fears Brexit ‘Betrayal’ and Warns...,1,1,@zachsafteryou @FreedomFrayed Little sissy bitch
19498,"WASHINGTON — Speaker Paul D. Ryan, the nati...",0,2,RT @AP: Lifelong Yankee fan puts aside rooting...
38681,By Jacob Devaney / upliftconnect.com \nOverwhe...,1,2,RT @Baseball_Photos: A 17 year old girl once s...
...,...,...,...,...
40676,Tweet Widget by BAR executive editor Glen Ford...,1,1,Your bitch wants to go to Little Italy with me...
16174,Hurricane Matthew churned north along the coas...,0,2,RT @BestSagittarius: #Sagittarius can be compa...
39060,\nIt was recently noted that superhero costu...,1,1,@zFearless shut up bitch it looks smooth like ...
7850,"ERBIL, Iraq — Facing Islamic State artiller...",0,1,@youngblackbitch raspy ass voice annoying bitc...
23874,When the two men plunged into the unforgiving ...,0,1,You nigguhs glorifying pussies

In [101]:
df_combined.to_csv('combined_dataset.csv')